
[Unit]
Description=SQLfs smack labels for vconf
DefaultDependencies=no
After=opt-var-kdb-db-libsqlfs.service
Requires=opt-var-kdb-db-libsqlfs.service
Before=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/chsmack -a '*' /opt/var/kdb/db

[Install]
WantedBy=basic.target

