
[Unit]
Description=SQLfs mount for vconf
# skip mounting if the directory does not exist or is a symlink
ConditionPathIsDirectory=/opt/var/kdb/db
ConditionPathIsSymbolicLink=!/opt/var/kdb/db
DefaultDependencies=no
After=opt-var-kdb-db-setup.service
After=local-fs.target
Before=basic.target

[Mount]
What=libsqlfs
Where=/opt/var/kdb/db
Type=fuse.libsqlfs
Options=nonempty,allow_other,default_permissions

[Install]
WantedBy=basic.target

